// ==========================================================================
// Global Config
// ==========================================================================

// fonts
$font-family--primary    : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Descriptive Base Colors
$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;




// Color Usage
$color-primary   :
$color-secondary :
$color-shadow    : rgba($black, .2);

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;


// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Transitions

$trns-duration  : .3s;
