// ==========================================================================
// Global Config
// ==========================================================================

// fonts
$font-family--primary : 'Alegreya', serif;

//font weights
$regular : 400;
$bold : 700;
$xbold : 900;

// Descriptive Base Colors
$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;
$primary-font-color : #f5f5f5;
$bluey : #6991ac;
$tacao : #F1AA90;
$tea : #BEB9AD;
$aqua : #AADCD2;
$cadet : #A2B2C1;
$botticelli : #C3D7DF;

// Color Usage
$color-shadow    : rgba($black, .2);

// Text
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Border radius
$br--default    : .4em;
$br--round      : 50%;

// Transitions
$trns-duration  : .3s;


// Media Queries
$small-screen : 500px;
$medium-screen: 800px;
$large-screen: 1200px;
