header {
  width: 100%;
  height: auto;
  background: $bluey;
  padding-top: em(8px);
}

#logo {
  width: auto;
  height: 50px;
  background: url(../img/RD.png) no-repeat center;
  display: block;
  margin: 0 auto;
}

.nav {
  border-top: .5px solid $white;
  padding: em(5px);
  text-align: center;
  &__item {
    display: inline-block;
    padding: em(2.5px) em(5px);

    a {
      text-decoration: none;
      color: $primary-font-color;

      &:hover {
        color: lighten($bluey, 20%);
      }
    }
  }
}

a.current {
    color: lighten($bluey, 20%);
}
